/* @theme apc_confidential */

@import 'default';

section{
    font-family: 'Yu Gothic';
    font-size: 24px;
    padding: 1.7em;
}

section.title{
    background-image: url(./marp-themes/title.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 4.5em;
}

section.title h1{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 8em;    /* 文字の開始位置 */
}

section.title h2{
    font-size: 24px;
    color: white;
    position: absolute;
    text-align:center    /* 文字の開始位置 */
}

section.chapter{
    background-image: url(./marp-themes/chapter.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

section.chapter h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

section.slide{
    background-image: url(./marp-themes/slide.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

section.slide h1{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 0.5em;    /* 文字の開始位置 */
}

section.slide h2 {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

section.backcover{
    background-image: url(./marp-themes/backcover.png);
}
